<ion-content [fullscreen]="true" class="login-content">

  <!-- Top Section -->

  <div class="top-section">

    <img
      src="assets/images/hyyndlogo.png"
      class="logo"
      alt="logo"
    />

    <h1>Welcome</h1>

    <p>
      Log in to your account and continue your
      fitness journey.
    </p>

  </div>

  <!-- Bottom Section -->

  <div class="bottom-section">

    <label>Email or Mobile Number</label>

    <div class="input-box">

      <ion-icon
        name="mail"
        class="input-icon">
      </ion-icon>

      <ion-input
        type="text"
        [(ngModel)]="mobile"
        placeholder="Enter Email or Mobile Number">
      </ion-input>

    </div>

    <ion-button
      expand="block"
      class="next-btn"
      (click)="goToOtp()">

      Next

    </ion-button>

  </div>

</ion-content>