<ion-content class="add-workout-content">
<div class="modal-wrapper">
  
  <div class="modal-header-container">
    <h2 class="modal-heading">Add Workout Plans</h2>
    <ion-icon name="close-circle-outline" class="modal-close-icon" (click)="dismiss()"></ion-icon>
  </div>

  <div class="modal-form-content">
    
    <label class="field-label">Workout Name</label>
    <div class="input-box-wrapper">
      <input type="text" [(ngModel)]="workoutName" placeholder="Enter Workout Name" class="custom-form-input">
    </div>

    <label class="field-label mt-18">Description</label>
    <div class="input-box-wrapper textarea-box-wrapper">
      <textarea [(ngModel)]="description" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pretium tellus quis arcu mollis, in sodales dui volutpat." class="custom-form-textarea"></textarea>
    </div>

    <label class="field-label mt-18">Select Tag</label>

<div class="searchable-tags-dropdown-anchor">

  <div class="input-box-wrapper select-box-wrapper">

    <input
      type="text"
      class="custom-form-input"
      placeholder="Select Tag"
      [(ngModel)]="tagSearchQuery"
      (focus)="openDropdownMenu()"
      (input)="executeTagFiltering()">

    <ion-icon
      [name]="isDropdownMenuVisible ? 'chevron-up-outline' : 'chevron-down-outline'"
      class="dropdown-icon"
      (click)="toggleDropdownMenu($event)">
    </ion-icon>

  </div>

  <div
    class="dropdown-card"
    *ngIf="isDropdownMenuVisible">

    <div
      class="dropdown-item"
      *ngFor="let tag of filteredTagOptions"
      (click)="addNewTagToSelection(tag)">

      {{tag}}

    </div>

    <div
      class="dropdown-item no-data"
      *ngIf="filteredTagOptions.length==0">

      No matching tags

    </div>

  </div>

</div>

    <div
  class="active-tags-matrix"
  *ngIf="selectedTags.length>0">

  <div
    class="removable-pill"
    *ngFor="let tag of selectedTags">

    {{tag}}

    <ion-icon
      name="close-outline"
      class="remove-tag-icon"
      (click)="removeTag(tag)">
    </ion-icon>

  </div>

</div>

    <ion-button expand="block" class="modal-action-next-btn" (click)="submitAndProceed()">
      Next
    </ion-button>

  </div>
</div>
</ion-content>